.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 50em;
  padding: 4rem 0;
}

.backgrounds{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-grow: 0;
  padding: 0;
  margin: 0;
}

.backgrounds li{
  width: 50%;
}

.image{
  flex-shrink: 0;
  width: 30%;
  margin-left: 20px;
}

.inputOne{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

